/*
 * SlickGrid Alpine Theme (Minimal)
 *
 * This is a trimmed version of the SlickGrid Alpine theme containing only
 * the styles needed by VaultQuery. Unused features like cell editing,
 * pagination, column picker, etc. have been moved to styles.old.css.
 *
 * Original source: slickgrid/dist/styles/css/slick-alpine-theme.css
 * License: MIT
 */

@keyframes fade {
  0%, to {
    background: none;
  }
  50% {
    background: var(--alpine-row-highlight-fade-animation,1s linear);
  }
}
.slick-container {
  background-color: var(--alpine-grid-bgcolor,#fff);
  border-color: var(--alpine-border-color,#dae1e7);
  border-radius: var(--alpine-border-radius,0);
  border-style: solid;
  border-width: var(--alpine-border-width,1px);
  box-sizing: border-box;
  color: var(--alpine-font-color,#181d1f);
  font-family: var(--alpine-font-family,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif);
  font-size: var(--alpine-font-size,13px);
}
.slick-container.bottom-rounded {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.slick-container .text-center {
  text-align: center;
}
.slick-viewport {
  background-color: var(--alpine-bg-color,#fff);
}
.slick-viewport .grid-canvas {
  outline: 0;
  position: relative;
}
.slick-range-decorator {
  border: var(--alpine-range-border,3px solid #000);
  cursor: cell;
  z-index: 9999;
}
.slick-row.slick-state-active,
.slick-row.ui-widget-content {
  border: 0;
  position: absolute;
  width: 100%;
}
.slick-row.slick-state-active {
  background: var(--alpine-cell-selected-bg-color,#d4ebfd);
}
.slick-row .selected {
  background-color: var(--alpine-cell-selected-bg-color,#d4ebfd);
  color: var(--alpine-cell-selected-color,#181d1f);
  z-index: 10;
}
.slick-row.odd {
  background-color: var(--alpine-odd-row-color,#fbfbfb);
}
.slick-row:hover {
  background-color: var(--alpine-row-mouse-hover-color,#e8f4fe);
}
.slick-row.highlight-animate {
  animation: fade var(--alpine-row-highlight-fade-animation,1s linear);
  background: var(--alpine-row-highlight-background-color,#d9edfd) !important;
}
.slick-groupby-remove {
  padding-right: 10px;
}
.slick-group {
  background-color: var(--alpine-header-bg-color,#f8f8f8);
  border-bottom: 2px solid var(--alpine-border-color,#dae1e7);
}
.slick-group .slick-cell {
  padding-left: 4px;
  padding-right: 4px;
  text-align: left !important;
}
.slick-group-toggle {
  background-color: currentColor;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 1em;
  margin-right: 5px;
  opacity: var(--alpine-group-icon-opacity,.8);
  width: 1em;
}
.slick-group-toggle.expanded {
  --alpine-group-expanded-icon-svg:url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M17,11V13H7V11H17Z"/%3E%3C/svg%3E');
  -webkit-mask: var(--alpine-group-expanded-icon-svg) no-repeat;
  mask: var(--alpine-group-expanded-icon-svg) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
.slick-group-toggle.collapsed {
  --alpine-group-collapsed-icon-svg:url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M11,7H13V11H17V13H13V17H11V13H7V11H11V7Z"/%3E%3C/svg%3E');
  -webkit-mask: var(--alpine-group-collapsed-icon-svg) no-repeat;
  mask: var(--alpine-group-collapsed-icon-svg) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
.slick-group-totals {
  background: var(--alpine-bg-color,#fff);
  color: var(--alpine-font-color,#181d1f);
}
.slick-group-toggle-all {
  background-color: currentColor;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 1em;
  margin-right: 5px;
  opacity: var(--alpine-group-icon-opacity,.8);
  width: 1em;
}
.slick-group-toggle-all.collapsed {
  --alpine-group-collapsed-icon-svg:url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M11,7H13V11H17V13H13V17H11V13H7V11H11V7Z"/%3E%3C/svg%3E');
  -webkit-mask: var(--alpine-group-collapsed-icon-svg) no-repeat;
  mask: var(--alpine-group-collapsed-icon-svg) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
.slick-group-toggle-all.expanded {
  --alpine-group-expanded-icon-svg:url('data:image/svg+xml;utf8,%3Csvg viewBox="0 0 24 24" display="inline-block" height="1em" width="1em" vertical-align="text-bottom" xmlns="http://www.w3.org/2000/svg" %3E%3Cpath fill="currentColor" d="M19,19V5H5V19H19M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5C3,3.89 3.9,3 5,3H19M17,11V13H7V11H17Z"/%3E%3C/svg%3E');
  -webkit-mask: var(--alpine-group-expanded-icon-svg) no-repeat;
  mask: var(--alpine-group-expanded-icon-svg) no-repeat;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}
.slick-cell {
  align-items: var(--alpine-cell-align-items,center);
  border-color: var(--alpine-cell-border-color,#dae1e7);
  border-radius: var(--alpine-cell-border-radius,0);
  border-style: solid;
  border-width: var(--alpine-cell-border-width,0 0 1px 0);
  cursor: default;
  display: var(--alpine-cell-display,block);
  justify-content: var(--alpine-cell-justify-content,flex-start);
  margin: 0;
  min-width: 0;
  overflow: hidden;
  padding: var(--alpine-cell-padding,2px 4px);
  position: absolute;
  text-overflow: var(--alpine-cell-text-overflow,ellipsis);
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
}
.slick-cell.selected {
  background-color: var(--alpine-cell-selected-bg-color,#d4ebfd);
  color: var(--alpine-cell-selected-color,#181d1f);
}
.slick-cell.selected span a {
  color: #fff;
}
.slick-cell.active {
  box-shadow: var(--alpine-cell-active-box-shadow,inset 0 0 0 1px #5da6e3);
}
.slick-cell.highlighted {
  background: #87cefa;
  background: rgba(0, 0, 255, .2);
  transition: all .5s;
}
.slick-cell.flashing {
  border: 1px solid red;
}
.slick-cell:focus {
  outline: none;
}
.slick-selection {
  border: 2px dashed #000;
  position: absolute;
  z-index: 10;
}
.slick-header {
  background-color: var(--alpine-header-bg-color,#f8f8f8);
  border-bottom: 1px solid var(--alpine-border-color,#dae1e7);
  color: var(--alpine-header-color,#181d1f);
  font-weight: var(--alpine-header-font-weight,bold);
}
.slick-header.slick-state-default {
  border-left: 0;
  overflow: hidden;
  width: 100%;
}
.slick-resizable-handle {
  border: 0;
  box-shadow: var(--alpine-header-resizable-handle-box-shadow,inset 0 0 0 1px #dde2eb);
  cursor: col-resize;
  display: block;
  font-size: .1px;
  height: var(--alpine-header-resizable-handle-height,50%);
  position: absolute;
  right: 0;
  top: var(--alpine-header-resizable-handle-top,25%);
  width: 2px;
}
.slick-reorder-guide,
.slick-reorder-proxy {
  background: blue;
  display: inline-block;
}
.slick-reorder-proxy {
  cursor: move;
  filter: alpha(opacity=15);
  opacity: .15;
}
.slick-reorder-guide {
  filter: alpha(opacity=70);
  height: 2px;
  opacity: .7;
}
.slick-preheader-panel .slick-header-column,
.slick-topheader-panel .slick-header-column {
  border-color: var(--alpine-preheader-border-color,#dae1e7);
  border-style: solid;
  border-width: var(--alpine-preheader-border-width,0);
}
.slick-header-column-active .slick-header-menubutton,
.slick-header-column:hover > .slick-header-menubutton {
  display: inline-block;
}
.slick-header-column {
  align-items: var(--alpine-header-align-items,flex-start);
  border-color: var(--alpine-header-border-color,#dae1e7);
  border-style: solid;
  border-width: var(--alpine-header-border-width,0);
  display: var(--alpine-header-display,inline-flex);
  height: var(--alpine-header-column-height,calc(23px*var(--alpine-header-name-row-count, 1)));
  justify-content: var(--alpine-header-justify-content,flex-start);
  line-height: var(--alpine-header-column-line-height,23px);
  margin: 0;
  overflow: hidden;
  padding: 4px;
  position: relative;
  vertical-align: var(--alpine-header-vertical-align,top);
  white-space: pre-wrap;
}
.slick-header-column .slick-header-menubutton {
  background-color: var(--alpine-header-bg-color,#f8f8f8);
  background-image: none;
  bottom: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--alpine-header-menubutton-width,18px);
}
.slick-header-column .slick-header-menubutton .caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px dashed;
  display: inline-block;
  height: 0;
  margin-left: 4px;
  margin-top: 7px;
  vertical-align: middle;
  width: 0;
}
.slick-header-column .slick-header-menubutton.filtered {
  color: var(--alpine-header-menubutton-filtered-color,#3490dc);
}
.slick-header-column .slick-sort-indicator,
.slick-header-column .slick-sort-indicator-numbered {
  color: var(--alpine-sort-indicator-color,#3490dc);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.slick-header-column .slick-sort-indicator {
  background-image: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  height: 0;
  margin: var(--alpine-sort-indicator-margin,5px 0 0 3px);
  vertical-align: middle;
  width: 0;
}
.slick-header-column .slick-sort-indicator-asc {
  border-bottom: 4px dashed;
}
.slick-header-column .slick-sort-indicator-desc {
  border-top: 4px dashed;
}
.slick-header-column .slick-sort-indicator-numbered {
  font-size: var(--alpine-sort-numbered-font-size,10px);
}
.slick-header-column.unorderable {
  background-color: var(--alpine-header-unorderable-bg-color,#f0f0f0);
}
.slick-header-columns {
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
}
.slick-header-columns .slick-state-hover {
  background: var(--alpine-header-name-hover-bg-color,hsla(0,0%,74%,.267));
}
.slick-column-name,
.slick-sort-indicator {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.slick-column-name {
  display: var(--alpine-header-name-display,block);
  flex-grow: var(--alpine-header-name-flex-grow,0);
  overflow: var(--alpine-header-name-overflow,hidden);
  text-overflow: var(--alpine-header-name-text-overflow,ellipsis);
  white-space: nowrap;
}
.slick-footerrow,
.slick-headerrow {
  background-color: var(--alpine-header-footer-bg-color,#fff);
  position: relative;
}
.slick-footerrow.slick-state-default,
.slick-headerrow.slick-state-default {
  border-left: 0;
  overflow: hidden;
  width: 100%;
}
.slick-footerrow-columns,
.slick-headerrow-columns {
  cursor: default;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.slick-headerrow-columns {
  background-color: var(--alpine-headerrow-bg-color,#f8fafc);
  border-bottom: 1px solid var(--alpine-border-color,#dae1e7);
  text-align: center;
}
.slick-footerrow-column,
.slick-headerrow-column {
  cursor: default;
  padding: 4px;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
}
.slick-footerrow-column {
  border-color: var(--alpine-footerrow-border-color,#dae1e7);
  border-radius: var(--alpine-footerrow-border-radius,0);
  border-style: solid;
  border-width: var(--alpine-footerrow-border-width,1px 1px 1px 0);
  float: left;
  font-size: var(--alpine-footerrow-font-size,12px);
  line-height: 20px;
  margin: 0;
  overflow: ellipsis;
}
.slick-headerrow-column {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
.slick-headerrow-column input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: var(--alpine-font-color,#181d1f);
  height: 100%;
  width: 100%;
}
.slick-header-menu {
  background: var(--alpine-header-bg-color,#f8f8f8);
  border: 1px solid var(--alpine-border-color,#dae1e7);
  border-bottom-left-radius: var(--alpine-border-radius,0);
  border-bottom-right-radius: var(--alpine-border-radius,0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  color: var(--alpine-font-color,#181d1f);
  cursor: default;
  display: inline-block;
  font-family: var(--alpine-font-family,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif);
  font-size: var(--alpine-font-size,13px);
  margin: 0;
  min-width: 175px;
  padding: 4px !important;
  position: absolute;
  z-index: 100000;
}
.slick-header-menu label {
  font-weight: 400;
}
.slick-header-menu button {
  border: 1px solid transparent;
  border-radius: .25rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: var(--alpine-font-size,13px);
  font-weight: 400;
  line-height: 1.428571429;
  margin: 2px;
  outline: 0;
  overflow: visible;
  padding: 6px 14px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.slick-header-menu button,
.slick-header-menu button:hover {
  background-color: transparent;
  color: var(--alpine-font-color,#181d1f);
}
.slick-header-menu button:hover {
  border-color: var(--alpine-border-color,#dae1e7);
}
.slick-header-menu button.active.focus,
.slick-header-menu button.active:focus,
.slick-header-menu button.active:hover,
.slick-header-menu button:active.focus,
.slick-header-menu button:active:focus,
.slick-header-menu button:active:hover {
  background-color: transparent;
  border-color: var(--alpine-border-color,#dae1e7);
  color: var(--alpine-font-color,#181d1f);
}
.slick-header-menu input.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  color: var(--alpine-font-color,#181d1f);
  padding: .5rem .75rem;
  width: 100%;
}
.slick-header-menu .filter,
.slick-header-menu input.input {
  border: 1px solid var(--alpine-border-color,#dae1e7);
  border-radius: .25rem;
}
.slick-header-menu .filter {
  background: var(--alpine-bg-color,#fff);
  height: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
  max-height: 200px;
  max-width: 300px;
  overflow: scroll;
  padding: 4px;
  white-space: nowrap;
}
.slick-header-menu .filter label {
  display: block;
  font-size: var(--alpine-font-size,13px);
}
.slick-header-menuitem-disabled {
  color: silver;
}
.slick-header-menuitem {
  align-items: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slick-header-menuitem .slick-header-menuicon {
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
  width: 16px;
}
.slick-header-menuitem .slick-header-menuicon.sort-asc,
.slick-header-menuitem .slick-header-menuicon.sort-desc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  height: 0;
  margin-left: 8px;
  margin-top: 0;
  vertical-align: middle;
  width: 0;
}
.slick-header-menuitem .slick-header-menuicon.sort-asc {
  border-bottom: 4px dashed;
}
.slick-header-menuitem .slick-header-menuicon.sort-desc {
  border-top: 4px dashed;
}
.slick-header-menuitem .slick-header-menucontent {
  display: inline-block;
  flex-grow: 1;
  font-size: var(--alpine-font-size,13px);
  margin: var(--alpine-menu-content-margin,2px 4px);
  vertical-align: middle;
}
.slick-header-menuitem:hover {
  border-color: var(--alpine-border-color,#dae1e7);
}
.slick-pane {
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.slick-pane-header {
  display: block;
}

/*! Bundled license information:

slickgrid/dist/styles/css/slick-alpine-theme.css:
  (*!
   * SlickGrid Alpine Theme
   * (c) 2009-2016 Michael Leibman
   * michael{dot}leibman{at}gmail{dot}com
   * original project: https://github.com/mleibman/slickgrid
   * project forked as: https://github.com/6pac/slickgrid
   *
   * Distributed under MIT license.
   * All rights reserved.
   *)
*/
